[Desktop Entry]
Encoding=UTF-8
Name=Wizcoin
Comment=Wizcoin P2P Cryptocurrency
Exec=/usr/bin/Wizcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/Wizcoin128.png
MimeType=x-scheme-handler/Wizcoin;
Categories=Office;
Name[en_US]=Wizcoin-qt.desktop
