#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_Wizcoin
#build/Wizcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_Wizcoin)

DEB_INSTALL_EXAMPLES_Wizcoind += debian/examples/*
DEB_INSTALL_MANPAGES_Wizcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Wizcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Wizcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Wizcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_Wizcoin
	src/test_Wizcoin

# Ensure wrapper is set executable
binary-post-install/Wizcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/Wizcoind
binary-post-install/Wizcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Wizcoin-qt
